# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/
ENV/
myVenv/
Venv/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Logs
*.log

# PyInstaller
dist/
build/

# Python env files
pip-log.txt
pip-delete-this-directory.txt

# Others
*.sqlite3
